[build]
publish = "public"
ignore = "(exit 1)"

[[plugins]]
package = "../"
  [plugins.inputs]
  
  # The base url of your site (optional, default = main URL set in Netlify)
  baseUrl = "example.com"

  # Path to the sitemap URL (optional, default = /sitemap.xml)
  sitemapPath = "/sitemap.xml"

  # Time in seconds to not submit the sitemap after successful submission
  ignorePeriod = 0
  
  # Enabled providers to submit sitemap to (optional, default = 'google', 'yandex'). Possible providers are currently only 'google' and 'yandex'.
  providers = [
    "google",
    "yandex"
  ]

[[plugins]]
package = "@netlify/plugin-local-install-core"
